<?xml version="1.0" encoding="utf-8"?>
<widget id="ru.shopquest" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" android-versionCode="2">
  <name>Shopquest</name>
  <description>
        Shopquest application.
    </description>
  <author email="shopquest@mail.ru" href="http://shopquest.ru/">
        Shopquest
    </author>
  <content src="index.html" />
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <allow-navigation href="*" />
  <platform name="android">
    <allow-intent href="market:*" />
    <icon src="res/drawable-ldpi/ic_launcher.png" density="ldpi" />
    <icon src="res/drawable-mdpi/ic_launcher.png" density="mdpi" />
    <icon src="res/drawable-hdpi/ic_launcher.png" density="hdpi" />
    <icon src="res/drawable-xhdpi/ic_launcher.png" density="xhdpi" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>
  <preference name="CrosswalkAnimatable" value="true" />
  <preference name="xwalkAnimatable" value="true" />
  <preference name="xwalkVersion" value="15+" />
  <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
  <preference name="xwalkMode" value="embedded" />
  <preference name="xwalkMultipleApk" value="true" />
  <vs:plugin name="cordova-plugin-mauron85-background-geolocation" version="0.7.3" src="https://github.com/mauron85/cordova-plugin-background-geolocation.git" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" />
  <vs:plugin name="cordova-plugin-splashscreen" version="3.0.0" src="https://git-wip-us.apache.org/repos/asf/cordova-plugin-splashscreen.git" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" />
  <vs:plugin name="cordova-plugin-crosswalk-webview" version="1.4.0" src="https://github.com/crosswalk-project/cordova-plugin-crosswalk-webview.git" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" />
  <preference name="android-minSdkVersion" value="14" />
  <preference name="android-maxSdkVersion" value="23" />
  <preference name="android-targetSdkVersion" value="20" />
</widget>